doctype html
html(lang="en")
  head
    title= `${settings.name} ${page ? page : ''} - ${settings.jobTitle}`
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description",content=`Portfolio and resume for ${settings.name}. A ${settings.jobTitle} with 8+ years of experience.`)
    meta(name="theme-color",content="#0960a5")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
    block styles
      link(rel='stylesheet', type="text/css", href='css/styles.min.css')

  body
    block content
    block foot

    block scripts
      script(src="js/main.min.js")

    if node_env === 'development'
      script(src="//localhost:35729/livereload.js")
