.project
  h2.project-header= project.data.title
  .project-body
    .project-description= project.data.description
    .project-tech
      if project.data.tech
        each tech in project.data.tech
          .tech= tech
  if project.data.link || project.data.retired || project.data.sourceLink
    .project-footer
      .project-link
        if project.data.link
          if project.data.link !== "self"
            a.project-button(href=`${project.data.link}`,target="_blank",rel="noopener") View <i class="fa fa-eye" aria-hidden="true"></i>
      .project-source-link
        if project.data.sourceLink
          a.project-button(href=`${project.data.sourceLink}`,target="_blank",rel="noopener") View Source <i class="fa fa-eye" aria-hidden="true"></i>


