.card.project-card
  .card-header(style=`background-color:#${project.data.accentColor}`)
    span= project.data.title
  .card-body
    if project.data.imageFallback || project.data.image
      picture
        source(srcset=`${imagePath}${project.data.image}`, type="image/webp")
        source(srcset=`${imagePath}${project.data.imageFallback}`)
        img.project-image(src=`${imagePath}${project.data.imageFallback}`, alt="")
    p= project.data.description
    .card-body-title Technology Used
    if project.data.tech
      ul
        each tech in project.data.tech
          li= tech
  if project.data.link
    .card-footer
      .card-footer-left
        if project.data.link
          a.link(href=`${project.data.link}`,target="_blank",rel="noopener") View <i class="fa fa-eye"></i>
      .card-footer-right
        if project.data.sourceLink
          a.link(href=`${project.data.sourceLink}`,target="_blank",rel="noopener") View Source <i class="fa fa-eye"></i>
        else
          span Source Private <i class="fa fa-eye-slash"></i>


