extends layout.pug

block styles
  link(rel='stylesheet', type="text/css", href='css/resume.min.css')

block content
  #resume-wrapper
    a#back-button.button(href="/")
      i.fas.fa-angle-left
      | Back
    #resume
      header
        #intro.section
          #personal-info
            h1= settings.name
            h4= settings.jobTitle
          #contact-info
            .contact-line
              a(href=`http://${settings.websiteUrl}` target="_blank" rel="noreferrer") #{settings.websiteUrl}
              i.icon.fas.fa-link
            .contact-line
              a(href=`https://${settings.githubUrl}` target="_blank" rel="noreferrer") #{settings.githubUrl}
              i.icon.fab.fa-github
            .contact-line
              a(href=`https://${settings.linkedinUrl}` target="_blank" rel="noreferrer") #{settings.linkedinUrl}
              i.icon.fab.fa-linkedin-in
            .contact-line
              a(href=`mailto:${settings.email}`) #{settings.email}
              i.icon.fas.fa-envelope

      #body
        #work.section
          h2.header Work History
          .sub-section
            .employment.bottom-border
              .position-wrapper
                span.position Senior Software Engineer
                span.company - Libera, Inc.
                span.dates 2015 to 2018
              .tools-wrapper
                label Tools:
                span.tools
                  | C#, .NET, VB.NET, Node.js, Angular, T-SQL, Oracle, MongoDB, Postgres, Javascript, jQuery,
                  | Bootstrap, Webpack
              ul.duties
                li Created and maintained 20+ different websites and applications.
                li
                  | Cleared the ticket investigation queue which contained hundreds of backlogged and unsolved
                  | tickets. New tickets were being added daily.
                li
                  | Developed enhancements and corrections in two-week sprints, including thorough testing
                  | and documentation.
                li
                  | Worked with teams and clients to ensure that requirements were understood and
                  | met expectations.
            .employment.bottom-border
              .position-wrapper
                span.position Self Employed
                span.dates 2013 to 2015
              .tools-wrapper
                label Tools:
                span.tools LAMP stack, Javascript, jQuery, Joomla, Wordpress
              ul.duties
                li Designed, built, and assisted with development of websites for several clients.
                li
                  | Troubleshot and repaired personal computers for clients; including replacement of computer
                  | parts, virus removal, computer backup, and installation of new software.
            .employment
              .position-wrapper
                span.position Software Developer
                span.company - Juju Inc.
                span.dates 2013 to 2014
              .tools-wrapper
                label Tools:
                span.tools Python, Javascript, Regex
              ul.duties
                li Developed code that scraped information using regular expressions.
                li Inserted scraped data into backend database to populate website.


        #certificates.section
          h2.header Certificates
          .sub-section
            .certificate Programming in HTML5 with JavaScript and CSS3 - Microsoft


        #projects.section
          h2.header Projects
          .sub-section
            .project-wrapper.bottom-border
              .project-line
                span.project Portfolio -
                a(href="http://jacobrswanson.com" target="_blank" rel="noreferrer") jacobrswanson.com
              .tools-wrapper
                label Tools:
                span.tools Node.js, NPM, Pug, Grunt, Firebase
            .project-wrapper.bottom-border
              .project-line
                span.project Ultimate Fantasy Sports -
                a(href="https://ufsports.com" target="blank" rel="noreferrer") ufsports.com
              .tools-wrapper
                label Tools:
                span.tools HTML5, CSS3,Javascript/jQuery, custom SASS library, PHP, MySQL
            .project-wrapper
              .project-line
                span.project Data Table -
                a(href="https://britecore-prod.firebaseapp.com" target="blank" rel="noreferrer") britecore-prod.firebaseapp.com
              .tools-wrapper
                label Tools:
                span.tools Vue.js, Vuex, Vue-router, NPM, Firebase, Jest, CSV Parser, Lodash


        #education.section
          h2.header Education
          .sub-section
            .degree Associates of Science in Individual Studies with a focus on Computer Science
            span.college Jamestown Community College
            span.dates - 2012


        #skills.section
          h2.header Skills
          #skills-wrapper
            .skills-group
              h3.skills-header Languages
              .skills-list
                .skill HTML
                .skill CSS/SASS
                .skill JavaScript
                .skill ES6+
                .skill TypeScript
                .skill PHP
                .skill Java
                .skill C#
                .skill .NET
                .skill VB.NET
            .skills-group
              h3.skills-header Frameworks & Tools
              .skills-list
                .skill Node.js
                .skill NPM
                .skill Vue.js
                .skill Angular
                .skill jQuery
                .skill React
                .skill Apache
                .skill Webpack
                .skill Git
                .skill Grunt
            .skills-group
              h3.skills-header Databases
              .skills-list
                .skill MySQL
                .skill T-SQL
                .skill Mongo
                .skill Oracle SQL
                .skill Postgres
                .skill Firestore

block scripts
