extends layout.pug

block styles
  link(rel='stylesheet', type="text/css", href='css/resume.min.css')

block content
  #resume-wrapper
    a#back-button.button(href="/")
      i.fas.fa-angle-left
      | Back
    #resume
      #column-left
        #intro.section
          #personal-info
            h1= settings.name
            h4= settings.jobTitle
          #contact-info
            .contact-line
              i.icon.fas.fa-envelope
              a.text(href=`mailto:${settings.email}`) #{settings.email}
            .contact-line
              i.icon.fab.fa-linkedin-in
              a.text(href=`https://${settings.linkedinUrl}` target="_blank" rel="noreferrer") #{settings.linkedinUrl}
            .contact-line
              i.icon.fab.fa-github
              a.text(href=`https://${settings.githubUrl}` target="_blank" rel="noreferrer") #{settings.githubUrl}
            .contact-line
              i.icon.fas.fa-link
              a.text(href=`http://${settings.websiteUrl}` target="_blank" rel="noreferrer") #{settings.websiteUrl}
            .contact-line
              i.icon.fas.fa-map-marker-alt
              .text Chautauqua, NY
        #about.section
          h3.header About Me
          p
            | Hello, my name is Jacob. I am a full stack developer with more than 8 years of experience developing complex
            | web applications. I enjoy developing new and exciting programs and features. I've also discovered I have
            | a special skill for debugging code.  At my last place of employment, I quickly became the lead maintenance
            | developer on over 30 projects and received the nickname "Super Jake" from the Help Desk support team.
        #skills.section
          h3.header Skills
          .skills-wrapper
            .skills-group
              .skill HTML5
              .skill CSS3
              .skill SASS
              .skill JavaScript
              .skill jQuery
              .skill PHP
              .skill Node.js
              .skill Vue.js
              .skill Linux
              .skill Webpack
            .skills-group
              .skill MySQL
              .skill T-SQL
              .skill MongoDB
              .skill Oracle SQL
              .skill Postgres
              .skill C#
              .skill .NET
              .skill Bootstrap
              .skill WordPress
              .skill Apache
      #column-right
        #work.section
          h2.header Work Experience
          .sub-section
            .employment.bottom-border
              .position Senior Software Engineer
              .company-line
                span.company Libera, Inc.
                span.dates - 2015 to 2018 (In office/Remote)
              .tools-line
                label Tools:
                span.tools
                  | C#, .NET, VB.NET, Node.js, Angular, T-SQL, Oracle, MongoDB, Postgres, Javascript, jQuery,
                  | Bootstrap, Webpack
              ul.duties
                li
                  | Website and application maintenance and development across 30 different projects.
                li
                  | Develop enhancements and corrections in two-week sprints, including thorough development testing
                  | and documentation of work.
                li Develop technical designs, complete with proof of concept, and/or prototype, and documentation.
                li
                  | Worked with team members and customers to ensure that requirements are well understood and capture
                  | the customers' expectations.
            .employment.bottom-border
              .position IT Manager & Software Developer
              .company-line
                span.company Self Employed
                span.dates - 2013 to 2015
              .tools-line
                label Tools:
                span.tools LAMP stack, Javascript, jQuery, Joomla, Wordpress
              ul.duties
                li Designed, built, and assisted with development of websites for several clients.
                li
                  | Troubleshoot and repaired personal computer problems for clients; including replacement of computer
                  | parts, virus removal, computer backup, and installation of new software.
            .employment
              .position Software Developer
              .company-line
                span.company Juju Inc.
                span.dates - 2013 to 2014 (Remote)
              .tools-line
                label Tools:
                span.tools Python, Javascript, Regex
              ul.duties
                li Worked with others to develop code that scraped information using regular expressions.
                li Inserted scraped data into backend database to populate website.
        #certificates.section
          h2.header Certificates
          .sub-section
            .certificate Programming in HTML5 with JavaScript and CSS3 - Microsoft
        #projects.section
          h2.header Projects
          .sub-section
            .project-wrapper.bottom-border
              .project-line
                span.project Portfolio -
                a(href="http://jacobrswanson.com" target="_blank" rel="noreferrer") jacobrswanson.com
              .tools-line
                label Tools:
                span.tools Node.js, NPM, HTML5, CSS/SASS, Pug, Grunt, Firebase, PM2, Digital Ocean
            .project-wrapper.bottom-border
              .project-line
                span.project Ultimate Fantasy Sports -
                a(href="https://ufsports.com" target="blank" rel="noreferrer") ufsports.com
              .tools-line
                label Tools:
                span.tools LAMP stack, HTML5, CSS3, Javascript, jQuery, custom CSS/SASS library, phpMyAdmin, Digital Ocean
            .project-wrapper
              .project-line
                span.project Data Table -
                a(href="https://britecore-prod.firebaseapp.com" target="blank" rel="noreferrer") britecore-prod.firebaseapp.com
              .tools-line
                label Tools:
                span.tools Vue.js, Vuex, Vue-router, Firebase, Jest, CSV Parser, Lodash, PM2
        #education.section
          h2.header Education
          .sub-section
            .degree Associates of Science in Individual Studies with a focus on Computer Science
            span.college Jamestown Community College
            span.dates - 2012

block scripts
