extends layout.pug

block content
  #resume-wrapper
    #resume
      header
        #intro.resume-section
          #personal-info
            h1= settings.name
            h4= settings.job_title
          #contact-info
            .contact-line
              a(href=`${settings.portfolio}` target="_blank" rel="noreferrer") #{settings.portfolio}
              i.icon.fas.fa-link
            .contact-line
              a(href=`${settings.github}` target="_blank" rel="noreferrer") #{settings.github}
              i.icon.fab.fa-github
            .contact-line
              a(href=`${settings.linkedinUrl}` target="_blank" rel="noreferrer") #{settings.linkedin}
              i.icon.fab.fa-linkedin-in
            .contact-line
              a(href=`mailto:${settings.email}`) #{settings.email}
              i.icon.fas.fa-envelope

      #body
        #work.resume-section
          h2.header Work History
          .sub-section
            .employment.bottom-border
              .position-wrapper
                span.position Senior Software Engineer
                span.company - Libera, Inc.
                span.dates 2015 to 2018
              .tools-wrapper
                label Tools:
                span.tools
                  | C#, .NET, VB.NET, Node.js, Angular, T-SQL, Oracle, MongoDB, Postgres, Javascript, jQuery,
                  | Bootstrap, Webpack
              ul.duties
                li Created and maintained 20+ different websites and applications.
                li
                  | Cleared the ticket investigation queue which contained hundreds of backlogged and unsolved
                  | tickets. New tickets were being added daily.
                li
                  | Developed enhancements and corrections in two-week sprints, including thorough testing
                  | and documentation.
                li
                  | Worked with teams and clients to ensure that requirements were understood and
                  | met expectations.
            .employment.bottom-border
              .position-wrapper
                span.position Self Employed
                span.dates 2013 to 2015
              .tools-wrapper
                label Tools:
                span.tools LAMP stack, Javascript, jQuery, Joomla, Wordpress
              ul.duties
                li Designed, built, and assisted with development of websites for several clients.
                li
                  | Troubleshot and repaired personal computers for clients; including replacement of computer
                  | parts, virus removal, computer backup, and installation of new software.
            .employment
              .position-wrapper
                span.position Software Developer
                span.company - Juju Inc.
                span.dates 2013 to 2014
              .tools-wrapper
                label Tools:
                span.tools Python, Javascript, Regex
              ul.duties
                li Developed code that scraped information using regular expressions.
                li Inserted scraped data into backend database to populate website.


        #certificates.resume-section
          h2.header Certificates
          .sub-section
            .certificate Programming in HTML5 with JavaScript and CSS3 - Microsoft


        #projects.resume-section
          h2.header Projects
          .sub-section
            each project in projects
              if project.resume
                .project-wrapper.bottom-border
                  .project-line
                    span.project= project.title + ' -'
                    a(href=`${project.link}` target="_blank" rel="noreferrer")= project.link
                  .tools-wrapper
                    label Tools:
                    span.tools= project.tech.join(', ')


        #education.resume-section
          h2.header Education
          .sub-section
            .degree Associates of Science in Individual Studies with a focus on Computer Science
            span.college Jamestown Community College
            span.dates - 2012


        #skills.resume-section
          h2.header Skills
          #skills-wrapper
            .skills-group
              h3.skills-header Languages
              .skills-list
                .skill HTML
                .skill CSS/SASS
                .skill JavaScript
                .skill ES6+
                .skill TypeScript
                .skill PHP
                .skill Java
                .skill C#
                .skill .NET
                .skill VB.NET
            .skills-group
              h3.skills-header Frameworks & Tools
              .skills-list
                .skill Node.js
                .skill NPM
                .skill Vue.js
                .skill Angular
                .skill jQuery
                .skill React
                .skill Apache
                .skill Webpack
                .skill Git
                .skill Grunt
            .skills-group
              h3.skills-header Databases
              .skills-list
                .skill MySQL
                .skill T-SQL
                .skill Mongo
                .skill Oracle SQL
                .skill Postgres
                .skill Firestore

block scripts
