block vars
  //- Override these variables by using block append vars in a file that extends project_layout.pug
  - var title = '';
  - var projectId = ''
  - var isActive = false;
  - var imageWebp = ''
  - var imageDefault = '';
  - var backgroundClass = 'bg-default';
  - var link = '';

.card.project-card
  .card-header(class=`${backgroundClass}`)
    span #{title}
  .card-body
    if imageDefault !== ''
      picture
        source(srcset=`/images/${imageWebp}`, type="image/webp")
        source(srcset=`images/${imageDefault}`, type="image/jpeg")
        source(srcset=`images/${imageDefault}`, type="image/png")
        img.project-image(src=`/images/${image}`, alt="")
    block desc
    .card-body-title Technology Used
    ul
      block techUsed
  if link !== ''
    .card-footer
      //- .card-footer-left
        //- .button More <i class="fas fa-angle-down"></i>
      //- .card-footer-right
      a.link(href=link, target="_blank",rel="noopener") Visit <i class="fas fa-external-link-alt"></i>
