block vars
  // Override these variables by using block append vars in a file that extends project_layout.pug
  - var projectId = ''
  - var isActive = false;
  - var image = '';
  - var backgroundClass = 'bg-default';
  - var title = '';
  - var link = '';

.tab-pane.fade.show.container-fluid(id=`project-${projectId}`,class=`${isActive ? 'active' : ''} ${backgroundClass}`)
  .row
    .col-12
      h1.project-title #{title}
      if link !== ''
        //- a.btn.btn-light(href=link, target="_blank") Visit
    .col-12.col-sm-6.project-column
      h1.project-header Technology
      ul
        block techUsed
    .col-12.col-sm-6.project-column
      h1.project-header Description
      block desc
    .col-12
      if image !== ''
        img.project-image(src=`images/${image}`, alt="")
